.browse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12.5px;

  &__search {
    display: flex;
    justify-content: center;
    padding-top: 25px;

    &-input {
      background-color: $light-grey;
      border: none;
      color: $blue;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      width: 40%;
      height: 50px;
    }
  }

  &__item {
    background-color: $light-grey;
    color: $blue;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30%;
    min-width: 300px;
    min-height: 130px;
    margin: 12.5px;
    box-shadow: 0 0 rgba(45, 45, 45, 0.8);
    transition: all .5s ease-out;

    &:hover {
      cursor: pointer;
      box-shadow: -20px 20px rgba(45, 45, 45, 0.8);
      transform: translate(10px, -10px);
    }

    &-name {
      font-weight: 700;
      font-size: 25px;
      padding-bottom: 5px;
    }

    &-year {
      font-weight: 300;
    }

    &-more {
      opacity: 0;
      background-color: $light-grey;
      height: 30px;
      left: 0;
      padding: 0 25px;
      position: absolute;
      width: 100%;

      &-votes {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 12.5px;
    width: 100%;
  }

  &__empty {
    color: $light-grey;
    font-size: 30px;
    font-weight: 700;
    padding-top: 50px;
    text-align: center;
    width: 100%;
  }
}

.show {
  opacity: 1;
  bottom: -24px;
  color: $blue;
  animation: rollDownBrowse .5s ease-out;
}

.hide {
  opacity: 0;
  bottom: 0;
  color: rgba(0,0,0,0);
  animation: rollUpBrowse .5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes rollDownBrowse {
  from { bottom: 0; color: rgba(0,0,0,0);}
  to { bottom: -24px; color: $blue; }
}

@keyframes rollUpBrowse {
  0% { bottom: -24px; color: $blue; opacity: 1; }
  97% { bottom: -1px; color: rgba(0,0,0,0); opacity: 1;}
  100% { bottom: 0; color: rgba(0,0,0,0); opacity: 0;}
}