.profile {
  padding: 25px;
  display: flex;

  & > * {
    flex: 1;
  } 

  &__user-data {
    display: flex;
    flex-direction: column;
    color: $light-grey;
    font-size: 25px;
    font-weight: 400;

    &-email {
      font-weight: 300;
      padding: 10px 0;
    }
  }

  &__button {
    background-color: $blue;
      border: none;
      color: $light-grey;
      font-weight: 700;
      padding: 10px 15px;
      text-align: center;
      margin-top: 10px;
      width: 200px;
      box-shadow: 0 0 rgba(45, 45, 45, 0.8);
      transition: all .5s ease-out;

      a {
        text-decoration: none;
        color: $light-grey;
      }

      &:hover {
        cursor: pointer;
        box-shadow: -6px 6px rgba(45, 45, 45, 0.8);
        transform: translate(2px, -2px);
      }
  }

  &__votes {
    color: $light-grey;
    font-size: 20px;
    padding: 25px 0;
  }

  &__recently-voted {
    display: flex;
    flex-direction: column;

    &-title {
      color: $light-grey;
      font-size: 25px;
    }

    &-items {
      margin-top: 25px;
    }

    &-item {
      background-color: $light-grey;
      color: $blue;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 15px;
      padding: 20px;
      width: 75%;
      margin-bottom: 15px;
    }

    &-date {
      font-weight: 300;
    }
  }

  &__favorite-title {
    color: $light-grey;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  &__no-votes {
    color: $light-grey;
    font-size: 25px;
    font-weight: 300;
  }
}