.vote {
  padding: 25px;
  position: relative;
  width: 100%;

  &__title {
    color: $light-grey;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 80%;
    min-height: 300px;
    transform: translateX(-50%);
    left: 50%;
    top: 20vh;
  }

  &__vs {
    color: $light-grey;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 40%;
    transform: rotate(-20deg);
    animation: shake .5s ease-in-out .75s;
  }

  &__image {
    box-shadow: 0 0 rgba(45, 45, 45, 0.8);
    transition: all .5s ease-out;

    &:first-child {
      margin-right: 100px;
      animation: moveTopRight .75s ease-out;
    }

    &:last-child {
      margin-left: 100px;
      animation: moveLeftBottom .75s ease-out;
    }

    &:hover {
      cursor: pointer;
      box-shadow: -20px 20px rgba(45, 45, 45, 0.8);
      transform: translate(10px, -10px);
    }
  }
}

@keyframes moveTopRight {
  from {
    transform: translate(-50px, 20px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes moveLeftBottom {
  from {
    transform: translate(50px, -20px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(-20deg);
  }

  20% {
    transform: rotate(0);
  }

  40% {
    transform: rotate(-20deg);
  }

  60% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-20deg);
  }
}